@charset "UTF-8";
.str0 {stroke:#373435;stroke-width:0.87;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str1 {stroke:#373435;stroke-width:0.69;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.fil3 {fill:none;fill-rule:nonzero}
.fil1 {fill:#FEFEFE}
.fil2 {fill:#FEFEFE;fill-rule:nonzero}
.fil0 {fill:#373435;fill-rule:nonzero}
.fil5 {fill:#FEFEFE;fill-opacity:0.380392}
.fil6 {fill:#FEFEFE;fill-rule:nonzero;fill-opacity:0.380392}
.fil4 {fill:#201E1E;fill-rule:nonzero;fill-opacity:0.380392}
